[Desktop Entry]
Name=QSpectrumAnalyzer
GenericName=Spectrum analyzer
Comment=Spectrum analyzer for multiple SDR platforms (PyQtGraph based GUI for soapy_power, hackrf_sweep, rtl_power, rx_power and other backends)
Exec=qspectrumanalyzer
Icon=qspectrumanalyzer
StartupNotify=true
Terminal=false
Type=Application
Categories=Qt;Science;DataVisualization;Electricity;HamRadio;
